extends ./layouts/main.jade

block title
  | Example

block content
  .example(style='text-align:center;padding:25px 0')
    .heading
      strong TEMPORE QUO PRIMIS AUSPICIIS
      h1(style='text-align:center;margin:0') In mundanum fulgorem
    p Lorem ipsum dolor sit amet…
