extends ./layouts/main
include ./includes/mixins

block title
  | Example

block content
  .viewport.i-space
    .breadcrumb
      a(href='#') Story 
      | Page name

    article.b-space
      header
        h1 FONT ICONS
      div
        span.share
          each icon in ['facebook', 'twitter', 'google-plus', 'mail']
            a(class='icon-' + icon, href='#') 
      div(style='font-size:40px; margin-bottom:25px')
        each icon in ['chair', 'spice', 'spice-empty', 'spicee-logo', 'chevron-left', 'chevron-right']
          span(class='icon-' + icon) 
