extends ./layouts/main.jade

block title
  | Example

block content
  .example(style='text-align:center;padding:25px 0')
    .heading
      p
        span.icon-spicee-logo(style='font-size:60px')
      strong TEMPORE QUO PRIMIS AUSPICIIS
      h1(style='text-align:center;margin:0') In mundanum fulgorem
    p Lorem ipsum dolor sit amet…

  .breadcrumb
    a(href='#') Story 
    | Page name

  article
    header
      h1 ICONS
    p
      span.share
        each icon in ['facebook', 'twitter', 'google-plus', 'mail']
          a(class='icon-' + icon, href='#') 
    p(style='font-size:40px')
      each icon in ['chair', 'spice', 'spice-empty', 'spicee-logo', 'icon-chevron-left', 'icon-chevron-right']
        span(class='icon-' + icon) 
