extends ./layouts/main
include ./includes/mixins

block title
  | Player

block content
  include ./includes/player-video.jade

  .viewport
    .breadcrumb.t-space.f-pink
      a(href='#') Story 
      i.icon-chevron-right 
      span Page name

    article.b-space.player-desc
      header
        h1 
          | In mundanum fulgorem
          span.score.f-pink
            for icon in [1, 2, 3]
              i.icon-spice 
        .contentinfo
          | by 
          a.lk.f-pink(href='#') Antoine Robin
          |  - il y a 2 jours - vu 4750 fois

      .content.b-space.f-lightgrey
        p#description
          | Proinde die funestis interrogationibus praestituto imaginarius 
          | iudex equitum resedit magister adhibitis aliis iam quae essent 
          | agenda praedoctis, et adsistebant hinc inde notarii…
        a.btn.btn-small.btn-pink(href='#description') Plus

      include ./includes/player-actions
      include ./includes/player-comments

  .i-space.logo-pattern.t-border
    .viewport
      .row
        .span-4
          +box('story', 'In mudanum fulgorem', 'Antoine Robin', 
              '93min Societe Cultures 12 437 vues', 3)
        .span-4
          +box('story', 'Gags de gangster', 'Faycal Elmakoudi', 
              '93min Societe Cultures 12 437 vues', 5)
        .span-4
          +box('story', 'Le vestiaire d\'Audrey', 'Jean-Bernard Schmidt', 
              '93min Societe Cultures 12 437 vues', 4)
        .span-4
          +box('story', 'In mudanum fulgorem', 'Antoine Robin', 
              '93min Societe Cultures 12 437 vues', 3)
        .span-4
          +box('story', 'Gags de gangster', 'Faycal Elmakoudi', 
              '93min Societe Cultures 12 437 vues', 5)
        .span-4
          +box('story', 'Le vestiaire d\'Audrey', 'Jean-Bernard Schmidt', 
              '93min Societe Cultures 12 437 vues', 4)
