extends ./layouts/prehome.jade

block title
  | Prehome

block content
  .i-space.logo-pattern.prehome-catcher
    .viewport.txt-center.f-white
      include ./includes/prehome-catcher

  .i-space.t-border.prehome-choice
    .viewport
      .choice
        a.btn.btn-plain.btn-wide(href='#') Identifiez vous
      .choice
        a.btn.btn-plain.btn-wide(href='#') Demarrez votre mois gratuit

  .i-space.t-border.logo-pattern
    .viewport
      include ./includes/prehome-pictos
