doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', 
         content='width=device-width,initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='./css/index.css')
    title
      | Spicee - 
      block title
  body
    #main-container
      block content
