- var navItems = [ 'About us', 'Legal terms', 'Contact us', 'Advertising', 'Help']

#footer
  .viewport
    .logo.icon-spicee-logo.f-pink
    nav
      ul
        each item in navItems
          li
            a(href='#')= item
    span.copyright
      | Spicee &copy; Recognition and Prestige for the Media
