- var navItems = [ 'About us', 'Legal terms', 'Contact us', 'Advertising', 'Help']

#footer
  .viewport
    .logo 
      include ../../svg/logo-plain.svg
      Spicee
    nav
      ul
        each item in navItems
          li
            a(href='#')= item
    span.copyright
      | Spicee &copy; Recognition and Prestige for the Media
