-var navItems = [ 'story', 'investigation', 'lifestyle', 'my spicee' ];

#header
  .viewport

    a.logo(href='./home.html')
      include ../../svg/logo-fulltext.svg

    a.nav-toggle(href='#navigation', title='Ouvrir la navigation')
      i.icon-menu

    nav#navigation
      .nav-toggle-container
        a.nav-toggle(href='#nav', title='Fermer la navigation')
          i.icon-close
      ul
        each item in navItems
          li
            a(href='./category.html',
              class=item.replace(' ', '-'))= item
        li.search
          a(href='#')
            span.icon-search 
            span.label Rechercher
