-var navItems = [ 'story', 'investigation', 'lifestyle', 'my spicee' ];

#header
  .viewport
    a.logo(href='#')
      include ../../svg/logo-fulltext.svg
    nav
      ul
        each item in navItems
          li
            a(href='#',
              class=item.replace(' ', '-'))= item
