.t-border.t-pad.comments
  form.b-space.comment-form
    fieldset
      legend.f-lightgrey Ajouter un commentaire :
      p.content
        label.avatar(for='comment')
          img(src='https://1.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=42&r=pg&d=mm', alt='User name')
        textarea#comment.wide(row='1', placeholder='Partager votre avis', resizable='false')
      p.txt-right
        button.btn.btn-small.btn-pink(type='submit') Ajouter le commentaire
  a.lk.f-pink(href='#') Afficher les commentaires
