.b-black
  .viewport
    .widescreen
      .in.video(style='background-image:url(http://imageserver.moviepilot.com/-fb496a89-a002-4e06-a8e3-14aac37501e5.jpeg?width=1920&height=1080);background-repeat:no-repeat;background-position:center center;background-size:cover')
