p
  span.icon-spicee-logo.f-pink(style='font-size:60px')
h1.no-sp Du reportage qui pique les yeux
span(style='font-size:26px') POUR SEULEMENT
br
strong.f-pink(style='position:relative;display:inline-block;padding-right:30px;line-height:1;font-size:125px;letter-spacing:-5px')
  | 9,90
  sup(style='position:absolute;right:0;top:0;font-size:60px') &euro;
br
span.f-pink quand vous le souhaitez ou vous le souhaitez
