.pictos
  each item in ['story', 'investigation', 'lifestyle', 'my spicee']
    .item(class=item.replace(' ', '-'))
      h3.title= item
      .icon
      p
        | Oportunum est, ut arbitror, explanare nunc causam, quae ad
