@keyframes logolava
  0%
    fill _pink
  25%
    fill _yellow
  50%
    fill _green
  75%
    fill _blue
  100%
    fill _pink

.animate-logolava
  transition fill 5s linear
  animation logolava 20s linear 5s infinite alternate
