.breadcrumb
  padding-top gutter
  font-style italic
  text-transform uppercase
  font-weight 600
  color _pink
  a
    display inline-block
    vertical-align middle
    color _pink
  a:after
    content '>'
    display inline-block
    vertical-align middle
    margin 0 5px 0 0
