.breadcrumb
  padding-top gutter
  font-style italic
  text-transform uppercase
  font-weight 600
  a, i, span
    display inline-block
    vertical-align baseline
    color inherit
  i
    font-size 14px
    font-weight 600
    margin 0 2px
  a
    transition color .2s ease-in-out
    &:hover, &:focus
      color _white
    &:active
      color inherit !important
