.btn
  display inline-block
  padding 20px 30px
  font-weight 600
  font-size 18px
  color _white
  border 1px solid _white
  text-transform uppercase
  text-align center

.btn-plain
  background _grey
  border-color _grey
  font-style italic

.btn-wide
  display block

