.btn
  display inline-block
  vertical-align middle
  box-sizing border-box
  padding 20px 30px
  font-weight 600
  font-size 18px
  color _white
  border 1px solid _white
  font-family 'DinPro'
  text-transform uppercase
  text-align center
  background none

.btn-plain
  background _grey
  border-color _grey
  font-style italic

.btn-wide
  display block

.btn-small
  padding 5px 15px
  min-height 36px
  text-transform none
  transition all .2s ease-in-out
  &:hover
  &:focus
    color _white
    border-color _white

.btn-pink
  color _pink
  border-color _pink
