.btn
  display inline-block
  vertical-align middle
  box-sizing border-box
  padding 20px 30px
  font-weight 600
  font-size 18px
  color _white
  border 1px solid _white
  font-family 'DinPro'
  text-transform uppercase
  text-align center
  background none

.btn-plain
  background _grey
  border-color _grey
  font-style italic
  transition all .2s ease-in-out
  &:hover, &:focus
    border-color white
    background transparent

.btn-wide
  display block

.btn-small
  padding 5px 15px
  min-height 36px
  text-transform none
  font-style normal
  transition all .2s ease-in-out
  &:hover
  &:focus
    color _white
    border-color _white

.btn-big
  font-size 20px

.btn-pink
  color _pink
  border-color _pink

.btn-yellow
  color _yellow
  border-color _yellow

.btn-green
  color _green
  border-color _green

.btn-blue
  color blue
  border-color blue
