_body = #1f1f1f
_content = #131313
_white = #fbfdff
_grey = #6b6b6b
_pink = #ec184f
_green = #00ec00
_yellow = #fdf100

.f-grey
  color _grey

.f-pink
  color _pink

.f-green
  color _green

.f-yellow
  color _yellow

.b-grey
  background-color _grey

.b-pink
  background-color _pink

.b-green
  background-color _green

.b-yellow
  background-color _yellow
