_body = #1f1f1f
_content = #131313
_white = #fbfdff
_lightgrey = #aaa
_grey = #6b6b6b
_darkgrey = #1d1d1d
_black = #080808
_pink = #ec184f
_green = #00ec00
_yellow = #fdf100
_blue = #00a2fb

.f-white
  color _white

.f-lightgrey
  color _lightgrey

.f-grey
  color _grey

.f-darkgrey
  color _darkgrey

.f-pink
  color _pink

.f-green
  color _green

.f-yellow
  color _yellow

.b-grey
  background-color _grey

.b-pink
  background-color _pink

.b-green
  background-color _green

.b-yellow
  background-color _yellow

.b-black
  background _black

body
  background _body
  color _grey

#content
  background _content

.logo-pattern
  background-image url(i/logo-pattern.png)
