.heading
  position relative
  margin-bottom 25px
  padding-bottom 20px
  &:before
    content ''
    position absolute
    bottom -5px
    left 50%
    margin-left -40px
    width 80px
    height 5px
    font-size 0
    background _white
