#header
  font-size 0

  .viewport
    position relative
    padding-left 240px

  nav
    font-size 18px

  .logo
    position absolute
    left 25px
    top 50%
    margin-top -20px
    width 155px
    height 39px
    font-size 0
    line-height 1
    fill _pink

  .nav-toggle
    float right
    font-size 30px
    line-height 1

  nav
    text-transform uppercase

    ul
      overflow hidden
      padding 0
      margin 0
      list-style none

    li
      position relative
      float left
      margin 0

    .nav
      a
        box-sizing border-box
        display block
        padding 5px 15px 0
        line-height 80px
        font-style italic
        font-weight 600
        text-decoration none
        color _white
        border-bottom 5px transparent solid
        transition border .2s ease-in-out
        &:hover
        &:focus
          border-color _white

      .story
        &:hover, &:focus
          border-color _pink

      .investigation
        &:hover, &:focus
          border-color _yellow

      .lifestyle
        &:hover, &:focus
          border-color _green

      .my-spicee
        &:hover, &:focus
          border-color _blue

      .search 
        a 
          color #666
          padding 0
          border 0
          margin 33px 0 0
          line-height 1

    .my-spicee:before
      overflow hidden
      position absolute
      top 50%
      left 0
      margin-top -16px
      width 0
      height 25px
      border-left 1px dotted #424242
      content ''

  .share
    position absolute
    right 25px
    top 50%
    margin-top -12px
    li
      margin-left 10px
    a
      color _grey
      &:hover, &:focus
        color _white
      &:active
        color _grey
    i
      font-size 20px

  &.prehome
    padding 10px 0
    height 160px
    width 100%
    font-size 1rem
    text-align center

    .viewport
      padding-left _gutter

    .login
      position absolute
      top 0
      right 25px
      color _grey
      &:hover, &:focus
        span
          text-decoration underline

    .logo
      position static
      top auto
      left auto
      display inline-block
      width 260px
      height auto
      max-width 50%
      margin 50px
      padding 0


@media only screen and (min-width:735px) and (max-width:1024px)

  #header
    .viewport
      padding-left 150px
    .logo
      width 100px
      height 25px
      margin-top -15px
    .share
      margin-top -19px


@media only screen and (max-width:734px)

  #header
    box-sizing border-box
    display flex
    flex-orientation column
    justify-content center
    padding 10px 0
    width 100%
    height 50px

    .viewport
      width 100%
      padding 0 15px

    .logo
      position static
      top auto
      left auto
      margin 0
      display inline-block
      width 100px
      height auto

    nav
      position fixed
      top 0
      bottom 0
      right -20rem
      z-index 99
      box-sizing border-box
      padding-top 50px
      width 20rem
      transition right .2s ease-in-out

      li
        float none
        border-top 1px solid _darkgrey

      .nav
        a
        .search a
          box-sizing border-box
          padding 25px 15px 25px 25px
          line-height inherit
          color _white
          border-bottom 0
          border-right 10px solid transparent
          &:focus, &:hover
            border-left-color _white

        .story
          border-top 0

        .my-spicee:before
          display none

        .search a
          margin 0
          font-style normal
          text-transform none
          font-weight 400

      .nav-toggle-container
        position absolute
        top 0
        left 0
        right 0
        box-sizing border-box
        padding 10px 15px
        height 50px
        text-align right

      .in
        position absolute
        top 50px
        bottom 0
        left 0
        width 100%
        overflow hidden
        overflow-y scroll
        -webkit-overflow-scrolling touch
        background _content
        border-left 1px solid _body

      .nav-toggle
        display inline-block
        float none
        padding 0
        background none
        line-height 1
        border 0
        &:hover, &:focus
          border-color transparent

      .share
        list-style none
        position static
        top auto
        right auto
        display block
        margin 0
        padding 20px
        text-align right
        border-top 1px solid _darkgrey
        li
          float none
          display inline-block
          border-top 0

  .nav-toggled 
    overflow hidden
    #header 
      .nav-toggle
        display none
      .logo
        position relative
        z-index 999
      nav
        right 0
        .nav-toggle
          display inline-block


@media only screen and (min-width:735px)

  .nav-toggle-container
  .nav-toggle
  .nav-btn
  #header nav .search .label
    display none


@media media-desktop

  #header
    nav a
      font-size 20px
