#header
  font-size 0

  .logo
  nav
    display inline-block
    vertical-align middle
    font-size 18px

  .logo
    margin 0
    width 155px
    height auto
    padding-right 60px
    font-size 0
    line-height 1
    fill _pink

  .nav-toggle
    float right
    font-size 30px
    line-height 1

  nav
    text-transform uppercase
    ul
      overflow hidden
      padding 0
      margin 0
      list-style none
    li
      position relative
      float left
      margin 0
    a
      display block
      padding 0 15px
      line-height 85px
      font-style italic
      font-weight 600
      text-decoration none
      color _white
      border-bottom 5px transparent solid
      transition border .2s ease-in-out
      &:hover
      &:focus
        border-color _white

    .my-spicee:before
        overflow hidden
        position absolute
        top 50%
        left 0
        margin-top -16px
        width 0
        height 25px
        border-left 1px dotted #424242
        content ''

    .story
      &:hover, &:focus
        border-color _pink

    .investigation
      &:hover, &:focus
        border-color _yellow

    .lifestyle
      &:hover, &:focus
        border-color _green

    .my-spicee
      &:hover, &:focus
        border-color _blue

  .search
    a
      color #666
      padding 0
      border 0
      margin 0

  &.prehome
    height 160px
    line-height 160px
    .logo
      width 260px
      margin _gutter
      padding 0


@media only screen and (min-width:700px) and (max-width:1024px)

  #header
    .logo
      padding-right 25px
      width 100px


@media only screen and (max-width:700px)

  #header
    box-sizing border-box
    display flex
    flex-orientation column
    justify-content center
    text-align center
    padding 10px 0
    width 100%
    height 50px

    .viewport
      width 100%
      padding 0 15px

    .logo
      float none
      display inline-block
      padding 0
      width 100px
      height auto

    nav
      position fixed
      top 0
      bottom 0
      right -20rem
      z-index 99
      box-sizing border-box
      padding-top 50px
      width 20rem
      border-left 1px solid _body
      transition right .2s ease-in-out

      li
        float none
        border-top 1px solid _darkgrey

      a
      .search a
        box-sizing border-box
        padding 25px 15px 25px 25px
        line-height inherit
        color _white
        border-bottom 0
        border-right 10px solid transparent
        &:focus, &:hover
          border-left-color _white

      .story
        border-top 0

      .my-spicee:before
        display none

      .search a
        font-style normal
        text-transform none
        font-weight 400

      .nav-toggle-container
        position absolute
        top 0
        left 0
        right 0
        box-sizing border-box
        padding 10px 15px
        height 50px
        text-align right
        background _body

      ul
        position absolute
        top 50px
        bottom 0
        left 0
        width 100%
        overflow hidden
        overflow-y scroll
        -webkit-overflow-scrolling touch
        background _content

      .nav-toggle
        display inline-block
        float none
        padding 0
        background none
        line-height 1
        border 0
        &:hover, &:focus
          border-color transparent

  .nav-toggled 
    overflow hidden
    #header nav
      right 0


@media only screen and (min-width:699px)

  .nav-toggle-container
  .nav-toggle
  .nav-btn
  #header nav .search .label
    display none


@media media-desktop

  #header
    nav a
      font-size 20px
