@font-face
  font-family 'Icons';
  src url('fonts/fontello.eot?6397651#iefix') format('embedded-opentype'),
      url('fonts/fontello.woff?6397651') format('woff'),
      url('fonts/fontello.ttf?6397651') format('truetype'),
      url('fonts/fontello.svg?6397651#fontello') format('svg')
  font-weight 400
  font-style normal

[class^="icon-"]
[class*=" icon-"]
  &:before
    display inline-block
    vertical-align middle
    margin 0 5px
    width 1em
    line-height 1em
    font-family 'Icons'
    font-weight 400
    font-style normal
    text-align center

.icon-search
  font-family 'Icons'
  font-weight 400
  font-style normal

.icon-search:before 
  content '\e800'
.icon-right-open-big:before
  content '\e801'
.icon-left-open-big:before
  content '\e802'
.icon-mail:before
  content '\e813'
.icon-facebook:before
  content '\e815'
.icon-twitter:before
  content '\e816'
.icon-gplus:before
  content '\e818'
