@import 'nib'

@import 'colors'
@import 'fonts'
@import 'reset'
@import 'header'
@import 'footer'

body
  background _body
  color _white

#content
  border-top 1px solid #212121
  border-bottom 1px solid #212121
  background _content

.viewport
  overflow hidden
  margin 0 auto
  padding 0 25px
  max-width 980px

.heading
  position relative
  margin-bottom 25px
  padding-bottom 20px
  &:before
    content ''
    position absolute
    bottom -5px
    left 50%
    margin-left -60px
    width 120px
    height 5px
    font-size 0
    background _white
