@import 'nib'
@import 'colors'
@import 'fonts'
@import 'reset'

// Media queries
media-mobile     = 'only screen and (max-width: 599px)'
media-touch      = 'only screen and (max-width: 1024px)'
media-tablet     = 'only screen and (min-width: 600px) and (max-width: 1024px)'
media-desktop    = 'only screen and (min-width: 1025px)'
media-wide       = 'only screen and (min-width: 1240px)'
media-not-mobile = 'only screen and (min-width: 600px)'

@import 'header'
@import 'footer'
@import 'layout'
@import 'links'
@import 'typography'
@import 'icons'
@import 'share'
@import 'breadcrumb'
@import 'headings'
