body
  background _body
  color _white

#content
  border-top 1px solid #212121
  border-bottom 1px solid #212121
  background _content

.viewport
  overflow hidden
  margin 0 auto
  padding 0 25px
  max-width 980px
