_gutter = 25px

#content
  border-top 1px solid #212121
  border-bottom 1px solid #212121

.viewport
  overflow hidden
  margin 0 auto
  padding 0 _gutter
  max-width 980px

.no-sp
  margin 0
  padding 0

.t-space
  margin-top _gutter

.r-space
  margin-right _gutter

.b-space
  margin-bottom _gutter

.l-space
  margin-left _gutter

.i-space
  padding-top 50px
  padding-bottom 50px

.t-pad
  padding-top 25px

.r-pad
  padding-left 25px

.l-pad
  padding-left 25px

.t-border
  border-top 1px solid _darkgrey

.l-border
  border-left 1px solid _darkgrey

.r-border
  border-right 1px solid _darkgrey

.wide
  display block
  width 100%

.js .no-js
  display none
