.avatar
  display inline-block
  vertical-align middle
  overflow hidden
  width 42px
  height 42px
  border 2px solid _grey
  border-radius 42px
  img
    display block
    width 42px
    height 42px
