.player-desc

  h1
    margin 0

  .actions
    line-height 30px

    span
      display inline-block
      vertical-align middle

  .score
    display inline-block
    margin-left _gutter
    font-size 0

    i
      display inline-block
      font-size 46px
      margin 0 5px

.scoring
  display inline-block
  vertical-align middle

  legend
    display inline

  label
    font-size 30px
    transition color .3s ease-in-out
    &:hover
    &:focus
      color _white

  input
    display none

.share
  display inline-block
  vertical-align middle

  a
    text-decoration none
    color _pink
    transition color .3s ease-in-out
    font-size 25px
    &:hover
    &:focus
      color _white

.comment-form

  p
    position relative
    padding-left 67px
    &:before
      position absolute
      top 15px
      left 62px
      box-sizing border-box
      width 12px
      height 12px
      content ''
      background black
      border 1px solid _darkgrey
      border-right-color black
      border-bottom-color black
      transform rotate(-45deg)

  .avatar
    position absolute
    top 0
    left 0


@media only screen and (max-width: 560px)

  .player-desc
    .l-pad
      padding 0
    .l-border
      border 0
