.pictos
  font-size 0
  span
    display inline-block
    vertical-align middle
    box-sizing border-box
    padding 50px
    width 25%
    text-align center
    font-size 16px
    svg
      margin 0 auto
      max-width 100px
      max-height 60px
    &:first-child
      fill _pink
    &:nth-child(2)
      fill _yellow
    &:nth-child(3)
      fill _green
    &:nth-child(4)
      fill _blue
