.pictos
  display table-row
  width 100%
  span
    display table-cell
    vertical-align middle
    padding 50px
    width 25%
    text-align center
    svg
      margin 0 auto
      max-width 100px
      max-height 60px
    &:first-child
      fill _pink
    &:nth-child(2)
      fill _yellow
    &:nth-child(3)
      fill _green
    &:nth-child(4)
      fill _blue
