.scoring
  display inline-block
  vertical-align middle

  legend
  fieldset
    display inline

  input[type=radio]
    position absolute
    opacity 0

  label[for]
    overflow hidden
    font-size 30px
    color _grey
    transition color .2s ease-in-out
    &:hover
      color inherit

  label[for='score-1']
    margin-left 8px

  input:focus + i
    color inherit

.score-0
  label[for='score-0']
    color inherit

.score-1
  label[for='score-1']
    color inherit

.score-2
  label[for='score-1']
  label[for='score-2']
    color inherit

.score-3
  label[for='score-1']
  label[for='score-2']
  label[for='score-3']
    color inherit

.score-4
  label[for='score-1']
  label[for='score-2']
  label[for='score-3']
  label[for='score-4']
    color inherit

.score-5
  label[for='score-1']
  label[for='score-2']
  label[for='score-3']
  label[for='score-4']
  label[for='score-5']
    color inherit
