.slider

  .slide
    position relative
    box-sizing border-box

  .background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-repeat no-repeat
    background-position center center
    background-size cover
    z-index 0
    opacity .5

  .viewport
    position relative
    z-index 1
    padding-bottom 50px

  .button
    position absolute
    z-index 2
    top 50%
    margin-top -70px
    width 60px
    text-align center
    color _white
    background rgba(black, .4)
    transition all .3s ease-in-out
    cursor pointer
    i
      font-size 40px
      line-height 140px
    &:hover, &:focus
      background rgba(black, .5)

  .button-previous
    left 0
    border-radius 0 10px 10px 0
    &:active
      left -10px

  .button-next
    right 0
    border-radius 10px 0 0 10px
    &:active
      right -10px

  .swiper-button-disabled
    color _grey
    cursor default
    &:hover, &:focus
      background rgba(black, .4)
    &.button-previous:active
      left 0
    &.button-next:active
      right 0

  .swiper-pagination
    height 28px
    line-height 28px

  .swiper-pagination-bullet
    vertical-align middle
    background none
    border 2px solid _lightgrey
    opacity 1

  .swiper-pagination-bullet-active
    width 10px
    height 10px
    background _white
    border-color _white

#prehome-slider
  padding-bottom 50px

  .button
    margin-top -120px

  .swiper-slide
    overflow hidden
    background black
    .background
      transform translate3d(0, 0, 0)
      transition opacity .3s ease-in-out
      opacity .4
    .in
      display table
    .widescreen
      max-height 400px

  .content
    position relative
    display table-cell
    vertical-align middle
    text-align center

  .swiper-slide-active
    .background
      opacity .8


@media media-touch

  #prehome-slider
    .widescreen
      margin 0


@media media-mobile

  .slider .button
    display none

@media media-desktop

  #prehome-slider
    .widescreen
      padding-bottom 45%
