h1, h2, h3, h4
  line-height normal

article
  header h1
    margin 0
    font-size 52px
    line-height 1.1

.txt-center
  text-align center

.txt-right
  text-align right

.lk
  &:hover, &:focus
    text-decoration underline
  &:active
    text-decoration none
