@font-face
  font-family 'DinPro'
  src url('fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINNextLTPro-Regular.otf')  format('opentype'),
      url('fonts/DINNextLTPro-Regular.woff') format('woff'), 
      url('fonts/DINNextLTPro-Regular.ttf')  format('truetype'), 
      url('fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'DinPro'
  src url('fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINNextLTPro-Medium.otf')  format('opentype'),
      url('fonts/DINNextLTPro-Medium.woff') format('woff'), 
      url('fonts/DINNextLTPro-Medium.ttf')  format('truetype'), 
      url('fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Regular') format('svg')
  font-weight 600
  font-style normal

@font-face
  font-family 'DinPro'
  src url('fonts/DINNextLTPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINNextLTPro-LightItalic.otf')  format('opentype'),
      url('fonts/DINNextLTPro-LightItalic.woff') format('woff'), 
      url('fonts/DINNextLTPro-LightItalic.ttf')  format('truetype'), 
      url('fonts/DINNextLTPro-LightItalic.svg#DINNextLTPro-Regular') format('svg')
  font-weight 300
  font-style italic

@font-face
  font-family 'DinPro';
  src url('fonts/DINNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINNextLTPro-Italic.otf')  format('opentype'),
      url('fonts/DINNextLTPro-Italic.woff') format('woff'), 
      url('DINNextLTPro-Italic.ttf')  format('truetype'), 
      url('DINNextLTPro-Italic.svg#DINNextLTPro-Italic') format('svg');
  font-weight 400
  font-style italic

@font-face
  font-family 'DinPro';
  src url('fonts/DINNextLTPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/DINNextLTPro-BoldItalic.otf')  format('opentype'),
      url('fonts/DINNextLTPro-BoldItalic.woff') format('woff'), 
      url('DINNextLTPro-BoldItalic.ttf')  format('truetype'), 
      url('DINNextLTPro-BoldItalic.svg#DINNextLTPro-Italic') format('svg');
  font-weight 600
  font-style italic

body
  font-family 'DinPro'
  font-weight 400
  font-size 18px
  line-height 1.5
  -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
  font-weight 600
  font-style italic
  text-transform uppercase
